// Home

// # Contents
// 1. Layout
// 2. Pages
// 3. Plugins
// 4. Sliders & Banners
// 5. Components
// 5.1) Product
// 5.2) Feature Box
// 6. Extra
// 7. Responsive

// 1. Layout
@include mq(lg) {
	.container {
		max-width: none;
		padding-left: 3.82vw;
		padding-right: 3.82vw;
	}
}

@include mq(1500px) {
	.container {
		aside.col-lg-3 {
			max-width: 20%;
			-ms-flex: 0 0 20%;
			flex: 0 0 20%;
		}

		.main-content.col-lg-9 {
			max-width: 80%;
			-ms-flex: 0 0 80%;
			flex: 0 0 80%;
		}
	}
	// For Horizontal-Filter 1
	.main-content-wrap {
		.sidebar-shop {
			left: -20%;
		}

		.main-content {
			margin-left: -20%;
		}
	}
}

// 2. Pages
.toolbox {
	label {
		color: #000;
		font-family: Oswald;
		font-weight: 700;
		text-transform: uppercase;
	}

	.select-custom .form-control {
		font-weight: 700;
		border-width: 2px;
		border-color: #000;
		text-transform: uppercase;
	}
}

.sidebar-shop {
	.main & .widget {
		border: 0;
	}

	.widget .owl-nav {
		top: -5.1rem;
	}

	.widget-block h5 {
		margin-top: .8rem;
	}

	.widget-title {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 2px solid #dfdfdf;
		font-family: Oswald;
		letter-spacing: .05em;
	}
}

.filter-toggle span {
	font-weight: 700;
	text-transform: uppercase;
}

.sort-list li {
	padding: .85rem 0;
}

.sort-menu-trigger {
	font-weight: 700;
}

.sidebar-product .widget-title {
	font-size: 1.6rem;
	letter-spacing: -.02em;
}

.page-link {
	border: 0;
	color: $primary-color;
	font-size: 1.5rem;
	font-weight: 500;
	min-width: auto;
}

.page-link-btn {
	border: 2px solid $primary-color;

	&:hover,
	&:focus {
		color: #fff;
		border-color: $primary-color;
		background-color: $primary-color;
	}
}

// 3. Plugins
// Owl Carousel
.owl-carousel.home-slider .owl-nav {
	color: #333;
}

// 4. Sliders & Banners
.home-slider,
.home-slide .slide-bg {
	height: 100vh;
}

.home-slider {
	h2 {
		font-family: 'Segoe Script', 'Savoye LET';
		line-height: 1.334;
	}

	.banner-layer {
		left: 12.8%;
	}
}

.home-slide1 {
	h2 {
		color: $body-text;
		font-size: 2.5em;
		font-weight: 400;
		letter-spacing: -.003em;
	}

	h3 {
		font-size: 2.5em;
		letter-spacing: .185em;
		margin-left: -1px;
	}

	h4 {
		font-size: 5.625em;
		margin-left: -5px;
	}

	h5 {
		font-size: 1.125em;
		padding-top: 1.1rem;
		margin-bottom: 3.5rem;
		letter-spacing: -.04em;
	}
}

.home-slide2 {
	h2 {
		margin-left: -3px;
		font-size: 3.4375em;
		letter-spacing: .003em;
	}

	h3 {
		margin-left: -3px;
		font-size: 7em;
		letter-spacing: .005em;
	}

	h5 {
		margin-right: 4.3rem;
		font-size: 1.25em;
		letter-spacing: -.03em;
		vertical-align: middle;

		span {
			font-size: 1.05em;
		}
	}

	em {
		display: inline-block;
		font-size: 2em;
		font-style: normal;
		vertical-align: text-top;
		transform: translateY(-1px);
		letter-spacing: 0;
	}

	.btn {
		margin-top: -4px;
		padding: 1.125em 2.65em;
		font-size: 1.25em;
		letter-spacing: -.03em;

		i {
			padding-left: .5rem;
		}
	}
}

.rotated-upto-text {
	position: relative;
	padding-left: .3em;

	small {
		display: inline-block;
		position: absolute;
		left: -1em;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		transform-origin: 50% 50%;
		font-size: 25%;
		font-weight: 500;
	}
}

.coupon-sale-text {
	position: relative;
	display: inline-block;
	margin-top: -1rem;
	margin-left: 2rem;
	padding: .7rem .8rem .2rem;
	font-size: 2.1em;
	letter-spacing: 0;
	vertical-align: text-top;
	transform: translateY(1px);

	&:before {
		content: '';
		z-index: -1;
		position:absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		transform: rotate(-2deg);
	}

	sup {
		font-size: 50%;
		letter-spacing: -.05em;
	}
}

.short-thick-divider {
	margin: 2.2rem 0 0;
	width: 6rem;
	border-top: 5px solid $primary-color-dark;
}

.banners-section {
	h3 {
		font-size: 1.625em;
		line-height: 1;
		letter-spacing: -.05em;
	}

	h4 {
		color: #777;
		font-weight: 400;
		font-size: 0.9375em;
		line-height: 1.4;
	}

	.btn {
		padding: 1.55em 2.23em;
		font-weight: 600;
		font-size: 1.1rem;
		letter-spacing: .15em;
	}

	img {
		transition: opacity .25s, box-shadow .25s;
		width: 100%;
	}
	
	.banner-layer.text-left {
		left: 11.79%;
	}

	.banner-layer-top h4 {
		line-height: 1.5;
	}

	.banner-layer-middle {
		h4 {
			opacity: .6;
		}

		.btn {
			color: #050203;
		}
	}

	.banner:hover img {
		opacity: .8;
	}

	.banner-layer-boxed {
		left: 9%;
		right: 9%;
		bottom: 7.5%;
		border: 5px solid $primary-color;
		padding: 4.4rem 2rem 7rem;

		h3 {
			font-size: 1.375em;
		}

		h4 {
			line-height: 1;
		}

		.btn {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 70%);
		}
	}
}

// 5. Components
// 5.1) Product
.product-default {
	&.product-list figure>a,
	&.product-widget figure>a {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.1);
			opacity: 0;
			transition: all .3s;
		}
	}

	&:hover figure a:after {
		opacity: 1;
	}
}

.product-widget .product-title {
	color: $body-text;

	&:hover {
		color: $primary-color;
	}
}

// 5.2) Feature Box
.feature-boxes-container {
	padding-top: 6.5rem;

	.feature-box {
		i {
			font-size: 3.5rem;
		}

		h3 {
			margin-bottom: 0;
			font-size: 2rem;
			line-height: 1.4;
		}

		h5 {
			color: $body-text;
			font-weight: 600;
			font-family: $font-family;
			margin-bottom: 1.3rem;
		}

		p {
			font-size: 1.3rem;
			line-height: 2.4rem;
		}
	}
}

// 6. Extra

// Section

section {
	padding-top: 6rem;
	padding-bottom: 3rem;
}

.section-title {
	color: #302e2a;
}

// Top Border
.top-border:before {
	content: '';
	display: block;
	flex: 0 0 100%;
	border-top: 1px solid #e7e7e7;
}


// 4. Category Slide

.category-banner {
	position: relative;
	margin-bottom: 1.5rem;

	.slide-bg {
		width: 100%;
		min-height: 300px;
	}

	h2 {
		color: $body-text;
		font-size: 2.5em;
		font-weight: 400;
	}

	h3 {
		font-size: 2.5em;
	}

	h4 {
		font-size: 5.625em;
	}

	h5 {
		font-size: 1.125em;
		padding-top: 1.1rem;
		margin-bottom: 3.2rem;
	}

	.coupon-sale-text {
		margin-right: 48px;
	}
}

.category-slide-content {
	position: absolute;
	top: 50%;
	left: 6%;
	transform: translateY(-50%);

	h2 {
		font-family: 'Segoe Script', 'Savoye LET';
		line-height: 1.334;
	}

	h2,
	h3,
	h5 {
		line-height: 1;
	}
}

// 7. Responsive
@include mq(1400px) {
	.feature-boxes-container .feature-box {
		padding: 0 4.8rem;
	}
	.banners-section .banner-layer-boxed .btn {
		transform: translate(-50%, 40%);
		padding: 2.14em 5.24em;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.banners-section .banner {
		font-size: 1.2rem;
	}
}

@include mq(lg) {
	.padding-right-lg {
		padding-right: 50px;
	}

	.feature-boxes-container .feature-box i {
		margin-bottom: 3.2rem;
	}
}

@include mq(md, max) {
	.home-slide, .category-slide-content {
		font-size: 1.4rem;
	}
}

@include mq(sm, max) {
	.home-slide, .category-slide-content {
		font-size: 2.3vw;
	}
}